@import url('../css/roboto.css');
body{
    font-family: 'Roboto', sans-serif;
    background: #cfd8dc;
}
.sidenav{
    background: #263238;
}
.nav-wrapper ul li>a{
    font-weight: bold;
}
.sidenav li>a{
    color: white;
    font-weight: bold;
}

.card-panel > .card-title{
    font-weight: bold;
    color: white;
}
.brand-logo.logo img{
    margin-left: 5px;
    width: 100px;
    height: 25px;
}
.mt-1{
    margin-top: 0.9rem;
}
.mt-2{
    margin-top: 1.7rem;
}
.mt-3{
    margin-top: 3rem;
}

.mt-4{
    margin-top: 4rem;
}

table.table-info{
    font-weight: bold;
    color:white;
    font-size: 12px;
}

table.table-interfaces tr th{
    font-weight: bold;
    color:white;
    font-size: 14px;
}
table.table-interfaces tbody tr td{
    color:white;
    font-size: 12px;
}
